<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>dealerServlet</servlet-name>
        <servlet-class>servlet.dealerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>servlet.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointmentServlet</servlet-name>
        <servlet-class>servlet.appointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>servlet.orderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dealerServlet</servlet-name>
        <url-pattern>/dealerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointmentServlet</servlet-name>
        <url-pattern>/appointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
